mixin render_pet(pet)
  li
    | hello
    = pet

extends ./layout.jade

block content 
  p test #{ 2 + 5}
  p
    if (myname === "so annoying")
      span ejs tags are annoying
    else
      | your name is #{myname}

    ul 
      each pet in mypets
        +render_pet(pet)

block copyright
  | &copy; local bruddah 2014

    


  


