doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title my cool layout
body
  div#header
    | my cool header

  div#content
    block content

  div#footer
    | hello footer

    span.copyright
      block copyright

  